In [0]:
%sql
drop catalog if exists mi_restaurante cascade

In [0]:
%sql
CREATE CATALOG IF NOT EXISTS mi_restaurante;

-- 02 · Bronze
CREATE SCHEMA IF NOT EXISTS mi_restaurante.layer20_bronze;

-- 03 · Silver
CREATE SCHEMA IF NOT EXISTS mi_restaurante.layer30_silver;

-- 04 · Gold
CREATE SCHEMA IF NOT EXISTS mi_restaurante.layer40_gold;

-- 99 · Operaciones / Configuración
CREATE SCHEMA IF NOT EXISTS mi_restaurante.layer99_ops;
CREATE VOLUME IF NOT EXISTS mi_restaurante.layer99_ops.configs;

In [0]:
catalog = "mi_restaurante"
schema = "layer20_bronze"
prefix = f"{catalog}.{schema}"

In [0]:

spark.sql(f"""
CREATE OR REPLACE TABLE {prefix}.menu_abril (
  plato_id STRING,
  restaurante STRING,
  plato_descripcion STRING,
  tipo STRING,
  coste DOUBLE,
  precio DOUBLE,
  ventas INT
)
""")

spark.sql(f"""
INSERT INTO {prefix}.menu_abril VALUES
  ('1435ab', 'Restaurante Poblenou','Espaguetis con albóndigas', 'principal', 14.9, 19.9, 320),
  ('9247bc', 'Restaurante Poblenou','Ensalada César', 'entrante', 6.5, 11.9, 410),
  ('6721kl', 'Restaurante Poblenou','Tarta de queso', 'postre', 4.9, 9.9, 390),
  ('3388rt', 'Restaurante Poblenou','Solomillo con foie', 'segundo', 11.2, 17.9, 280)
""")

spark.sql(f"""
INSERT INTO {prefix}.menu_abril VALUES
  ('1435ab', 'Restaurante Sants','Espaguetis con albóndigas', 'principal', 14.9, 20.9, 320),
  ('9247bc', 'Restaurante Sants','Ensalada César', 'entrante', 6.5, 13.9, 410),
  ('6721kl', 'Restaurante Sants','Tarta de queso', 'postre', 4.9, 11.9, 390),
  ('3388rt', 'Restaurante Sants','Solomillo con foie', 'segundo', 13.2, 17.9, 280)
""")

spark.sql(f"""
CREATE OR REPLACE TABLE {prefix}.menu_mayo (
  plato_id STRING,
  restaurante STRING,
  plato_descripcion STRING,
  tipo STRING,
  coste DOUBLE,
  precio DOUBLE,
  ventas INT
)
""")

spark.sql(f"""
INSERT INTO {prefix}.menu_mayo VALUES
  ('8135zx', 'Restaurante Poblenou','Croquetas de jamón', 'entrante', 5.9, 9.9, 310),
  ('5432ty', 'Restaurante Poblenou','Pollo al curry', 'principal', 10.0, 15.5, 280),
  ('1122qp', 'Restaurante Poblenou','Brownie de chocolate', 'postre', 6.5, 12.0, 450),
  ('9988dd', 'Restaurante Poblenou','Lubina al horno', 'segundo', 12.1, 18.8, 270)
""")

spark.sql(f"""
INSERT INTO {prefix}.menu_mayo VALUES
  ('8135zx', 'Restaurante Sants','Croquetas de jamón', 'entrante', 5.9, 12.9, 310),
  ('5432ty', 'Restaurante Sants','Pollo al curry', 'principal', 10.0, 17.5, 280),
  ('1122qp', 'Restaurante Sants','Brownie de chocolate', 'postre', 6.5, 19.0, 450),
  ('9988dd', 'Restaurante Sants','Lubina al horno', 'segundo', 12.1, 21.8, 270)
""")


spark.sql(f"""
CREATE OR REPLACE TABLE {prefix}.menu_junio (
  plato_id STRING,
  restaurante STRING,
  plato_descripcion STRING,
  tipo STRING,
  coste DOUBLE,
  precio DOUBLE,
  ventas INT
)
""")

spark.sql(f"""
INSERT INTO {prefix}.menu_junio VALUES
  ('7412mw', 'Restaurante Poblenou','Empanada gallega', 'entrante', 6.9, 11.5, 370),
  ('3625re', 'Restaurante Poblenou','Pisto manchego', 'principal', 10.2, 16.7, 410),
  ('2299ff', 'Restaurante Poblenou','Flan de huevo', 'postre', 4.7, 9.5, 400),
  ('4011tt', 'Restaurante Poblenou','Entrecot de ternera', 'segundo', 13.9, 20.0, 290)
""")

spark.sql(f"""
INSERT INTO {prefix}.menu_junio VALUES
  ('7412mw', 'Restaurante Sants','Empanada gallega', 'entrante', 6.9, 16.5, 370),
  ('3625re', 'Restaurante Sants','Pisto manchego', 'principal', 10.2, 19.7, 410),
  ('2299ff', 'Restaurante Sants','Flan de huevo', 'postre', 4.7, 9.5, 400),
  ('4011tt', 'Restaurante Sants','Entrecot de ternera', 'segundo', 15.9, 20.0, 290)
""")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql(f"""
CREATE OR REPLACE TABLE {prefix}.dim_restaurants (
  restaurante STRING,
  ciudad STRING,
  direccion STRING,
  trabajadores INT,
  presupuesto_mensual double,
  kind_cuisine STRING
)
""")

spark.sql(f"""
INSERT INTO {prefix}.dim_restaurants VALUES
  ('Restaurante Poblenou', 'Barcelona','Carrer de València 9-7', 19,30000,'italiana'),
  ('Restaurante Sants', 'Barcelona','Pujades - Roc Boronat 08005', 6,19000,'mediterranea')
""")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql(f"""
CREATE OR REPLACE TABLE {prefix}.menu_julio (
  plato_id STRING,
  restaurante STRING,
  plato_descripcion STRING,
  tipo STRING,
  coste DOUBLE,
  precio DOUBLE,
  ventas INT
)""")

spark.sql(f"""
INSERT INTO {prefix}.menu_julio VALUES
  ('7777aa', 'Restaurante Poblenou','Fideuà', 'principal', 11.0, 17.0, 310),
  ('8888bb', 'Restaurante Poblenou','Melón con jamón', 'entrante', 4.0, 7.5, 370),
  ('9999cc', 'Restaurante Poblenou','Helado artesanal', 'postre', 3.9, 8.5, 420),
  ('aaaa11', 'Restaurante Poblenou','Chuletón', 'segundo', 14.5, 22.0, 280)
""")

spark.sql(f"""
INSERT INTO {prefix}.menu_julio VALUES
  ('7777aa', 'Restaurante Sants','Fideuà', 'principal', 11.0, 19.0, 310),
  ('8888bb', 'Restaurante Sants','Melón con jamón', 'entrante', 4.0, 10.5, 370),
  ('9999cc', 'Restaurante Sants','Helado artesanal', 'postre', 3.9, 9.5, 420),
  ('aaaa11', 'Restaurante Sants','Chuletón', 'segundo', 14.5, 20.0, 280)
""")

spark.sql(f"""
CREATE OR REPLACE TABLE {prefix}.menu_agosto (
  plato_id STRING,
  restaurante STRING,
  plato_descripcion STRING,
  tipo STRING,
  coste DOUBLE,
  precio DOUBLE,
  ventas INT
)""")

spark.sql(f"""
INSERT INTO {prefix}.menu_agosto VALUES
  ('bbbb22', 'Restaurante Poblenou','Gazpacho', 'entrante', 5.5, 10.0, 300),
  ('cccc33', 'Restaurante Poblenou','Arroz al horno', 'principal', 9.8, 15.9, 390),
  ('dddd44', 'Restaurante Poblenou','Tarta de limón', 'postre', 5.4, 10.9, 340),
  ('eeee55', 'Restaurante Poblenou','Bacalao gratinado', 'segundo', 13.2, 19.8, 310)
""")

spark.sql(f"""
INSERT INTO {prefix}.menu_agosto VALUES
  ('bbbb22', 'Restaurante Sants','Gazpacho', 'entrante', 5.5, 13.0, 300),
  ('cccc33', 'Restaurante Sants','Arroz al horno', 'principal', 10.8, 15.9, 390),
  ('dddd44', 'Restaurante Sants','Tarta de limón', 'postre', 5.4, 12.9, 340),
  ('eeee55', 'Restaurante Sants','Bacalao gratinado', 'segundo', 13.2, 20.8, 310)
""")

spark.sql(f"""
CREATE OR REPLACE TABLE {prefix}.menu_septiembre (
  plato_id STRING,
  restaurante STRING,
  plato_descripcion STRING,
  tipo STRING,
  coste DOUBLE,
  precio DOUBLE,
  ventas INT
)""")

spark.sql(f"""
INSERT INTO {prefix}.menu_septiembre VALUES
  ('ffff66', 'Restaurante Poblenou','Huevos rotos', 'entrante', 6.0, 10.5, 330),
  ('gggg77', 'Restaurante Poblenou','Rabo de toro', 'principal', 12.3, 18.7, 370),
  ('hhhh88', 'Restaurante Poblenou','Flan casero', 'postre', 4.3, 9.0, 410),
  ('iiii99', 'Restaurante Poblenou','Cordero asado', 'segundo', 13.7, 20.5, 290)
""")

spark.sql(f"""
INSERT INTO {prefix}.menu_septiembre VALUES
  ('ffff66', 'Restaurante Sants','Huevos rotos', 'entrante', 6.0, 12.5, 330),
  ('gggg77', 'Restaurante Sants','Rabo de toro', 'principal', 12.3, 19.7, 370),
  ('hhhh88', 'Restaurante Sants','Flan casero', 'postre', 4.3, 9.0, 410),
  ('iiii99', 'Restaurante Sants','Cordero asado', 'segundo', 13.7, 21.5, 290)
""")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
catalog = "Mi_Restaurante"
schema2 = "layer30_silver"
prefix2 = f"{catalog}.{schema2}"

In [0]:
spark.sql(f"""
CREATE OR REPLACE TABLE {prefix2}.menu_completo_v2 AS
SELECT plato_id,restaurante, plato_descripcion, tipo, ventas, coste, precio, 'Julio' AS mes FROM {prefix}.menu_julio
UNION ALL
SELECT plato_id,restaurante, plato_descripcion, tipo, ventas, coste, precio, 'Agosto' AS mes FROM {prefix}.menu_agosto
UNION ALL
SELECT plato_id,restaurante, plato_descripcion, tipo, ventas, coste, precio, 'Septiembre' AS mes FROM {prefix}.menu_septiembre;
""")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql(f"""
CREATE OR REPLACE TABLE {prefix2}.menu_completo_v1 AS
SELECT plato_id,restaurante, plato_descripcion, tipo, ventas, coste, precio, 'Abril' AS mes FROM {prefix}.menu_abril
UNION ALL
SELECT plato_id,restaurante, plato_descripcion, tipo, ventas, coste, precio, 'Mayo' AS mes FROM {prefix}.menu_mayo
UNION ALL
SELECT plato_id,restaurante, plato_descripcion, tipo, ventas, coste, precio, 'Junio' AS mes FROM {prefix}.menu_junio;
""")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql(f"""
create or replace table {prefix2}.menu_completo_all AS
select * from {prefix2}.menu_completo_v1
UNION ALL
select * from {prefix2}.menu_completo_v2
""")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
catalog = "Mi_Restaurante"
schema3 = "layer40_gold"
prefix3 = f"{catalog}.{schema3}"

In [0]:
# Importamos funciones de PySpark necesarias
from pyspark.sql import functions as F
from pyspark.sql.window import Window

# Leemos la tabla consolidada que contiene todos los meses (abril a septiembre)
df = spark.table(f"{prefix2}.menu_completo_all")

# Calculamos la nueva columna "margen" como la diferencia entre precio y coste, redondeada a 2 decimales
df = df.withColumn("margen", F.round(F.col("precio") - F.col("coste"), 2))

# Creamos una ventana que agrupa por mes y tipo de plato,
# y ordena por número de ventas descendente dentro de cada grupo
w = Window.partitionBy("mes", "tipo").orderBy(F.desc("ventas"))

# Asignamos un ranking por grupo usando row_number()
# Luego filtramos para quedarnos solo con el mejor (rank = 1) por cada mes y tipo
# Finalmente eliminamos la columna auxiliar "rank"
best_seller = df.withColumn("rank", F.row_number().over(w)).filter("rank = 1").drop("rank")

# Guardamos el resultado como tabla final best_seller, sobrescribiéndola si ya existe
best_seller.write.mode("overwrite").saveAsTable(f"{prefix3}.best_seller")

# 🔁 Enriquecimiento Bronze + Silver/Gold (insertado 2025-10-21 14:44:38)

- **Bronze**: más `INSERT` a menús y `dim_restaurants` (presupuesto **DOUBLE**).
- **Silver**: normalización + **CAST a INT** de `presupuesto_mensual`.
- **Gold**: dim + fact con medidas y `best_seller`.

In [0]:

catalog_bronze = "mi_restaurante"
schema_bronze  = "layer20_bronze"
catalog_silver = "mi_restaurante"
schema_silver  = "layer30_silver"
catalog_gold   = "mi_restaurante"
schema_gold    = "layer40_gold"

bronze = f"{catalog_bronze}.{schema_bronze}"
silver = f"{catalog_silver}.{schema_silver}"
gold   = f"{catalog_gold}.{schema_gold}"

spark.sql(f"CREATE CATALOG IF NOT EXISTS {catalog_bronze}")
spark.sql(f"CREATE SCHEMA  IF NOT EXISTS {bronze}")
spark.sql(f"CREATE SCHEMA  IF NOT EXISTS {silver}")
spark.sql(f"CREATE SCHEMA  IF NOT EXISTS {gold}")

DataFrame[]

## Bronze · inserts extra

In [0]:

spark.sql(f"""
CREATE TABLE IF NOT EXISTS {bronze}.dim_restaurants (
  restaurante           STRING,
  ciudad                STRING,
  direccion             STRING,
  trabajadores          INT,
  presupuesto_mensual   DOUBLE,
  kind_cuisine          STRING
)""")

spark.sql(f"""
INSERT INTO {bronze}.dim_restaurants VALUES
  ('Restaurante Poblenou','Barcelona','C/ València 097',19,30000.50,'italiana'),
  ('Restaurante  Sants','Barcelona','Pujades - Roc Boronat 08005',6,19000.00,'mediterranea'),
  ('Restaurante gracia','Barcelona','Travessera de Gràcia 112',12,22000.75,'fusion'),
  ('Restaurante-Sagrada','Barcelona','Marina 253',9,25000.00,'moderna'),
  ('Rest  Poblenou','Barcelona','Av. Diagonal 1',10,18000.40,'italiana')
""")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:

# Asegura tablas de menú (si alguien limpió el entorno)
for t in ["menu_abril","menu_mayo","menu_junio","menu_julio","menu_agosto","menu_septiembre"]:
    spark.sql(f"""CREATE TABLE IF NOT EXISTS {bronze}.{t} (
      plato_id STRING, restaurante STRING, plato_descripcion STRING, tipo STRING,
      coste DOUBLE, precio DOUBLE, ventas INT)""")

# Inserts extra por mes
spark.sql(f"""
INSERT INTO {bronze}.menu_abril VALUES
('A9001','Restaurante Poblenou','Bruschetta clásica','entrante',3.2,6.9,260),
('A9002','Restaurante  sants','Risotto de setas','principal',9.9,16.9,300),
('A9003','Rest  Poblenou','Pannacotta','postre',2.8,6.5,280),
('A9004','Restaurante-Gracia','Merluza a la romana','segundo',7.4,13.9,210)
""")

spark.sql(f"""
INSERT INTO {bronze}.menu_mayo VALUES
('M9001','Restaurante Poblenou','Ensaladilla rusa','entrante',2.9,6.0,240),
('M9002','Restaurante Sants','Pizza diavola','principal',6.5,12.9,350),
('M9003','Restaurante gracia','Tiramisú','postre',3.1,6.9,330),
('M9004','Restaurante-Sagrada','Calamares a la andaluza','segundo',6.9,12.5,260)
""")

spark.sql(f"""
INSERT INTO {bronze}.menu_junio VALUES
('J6001','Restaurante Poblenou','Gazpacho sandía','entrante',3.0,7.5,270),
('J6002','Restaurante Sants','Canelones','principal',7.2,14.5,320),
('J6003','Restaurante Gracia','Mousse de limón','postre',2.5,6.0,310),
('J6004','Restaurante Sagrada','Secreto ibérico','segundo',8.9,16.9,220)
""")

spark.sql(f"""
INSERT INTO {bronze}.menu_julio VALUES
('JL001','Restaurante Poblenou','Vichyssoise','entrante',3.4,7.0,250),
('JL002','Restaurante Sants','Paella mixta','principal',9.1,17.8,330),
('JL003','Restaurante gracia','Natillas caseras','postre',2.2,5.0,340),
('JL004','Restaurante-Sagrada','Dorada a la sal','segundo',9.9,18.5,210)
""")

spark.sql(f"""
INSERT INTO {bronze}.menu_agosto VALUES
('AG001','Restaurante Poblenou','Salmorejo','entrante',2.8,6.8,280),
('AG002','Restaurante  Sants','Parmigiana','principal',7.0,13.9,300),
('AG003','Restaurante Gracia','Profiteroles','postre',3.3,7.2,360),
('AG004','Restaurante Sagrada','Atún a la plancha','segundo',10.2,19.5,205)
""")

spark.sql(f"""
INSERT INTO {bronze}.menu_septiembre VALUES
('SE001','Restaurante Poblenou','Crema de calabaza','entrante',3.0,6.9,230),
('SE002','Restaurante Sants','Lasaña boloñesa','principal',7.8,14.9,310),
('SE003','Restaurante-Gracia','Arroz con leche','postre',2.4,5.9,295),
('SE004','Restaurante-Sagrada','Ternera estofada','segundo',9.1,17.2,215)
""")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

## Silver · normalización + cambio de tipo (DOUBLE → INT)

In [0]:

spark.sql(f"""
CREATE OR REPLACE TABLE {silver}.dim_restaurants AS
SELECT
  restaurante,
  ciudad,
  direccion,
  trabajadores,
  CAST(presupuesto_mensual AS INT) AS presupuesto_mensual,  -- evolución
  kind_cuisine,
  REGEXP_REPLACE(LOWER(TRIM(regexp_replace(restaurante, '\\s+', ' '))), '\\s+', ' ') AS restaurant_name_std,
  SHA2(REGEXP_REPLACE(LOWER(TRIM(regexp_replace(restaurante, '\\s+', ' '))), '\\s+', ' '), 256) AS restaurant_id
FROM {bronze}.dim_restaurants
""")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

## Silver · `menu_all_enriched` (join por nombre canonizado)

In [0]:

menu_source = f"{silver}.menu_completo_all"

spark.sql(f"""
CREATE OR REPLACE TEMP VIEW _menu_all_std AS
SELECT
  plato_id, restaurante,
  REGEXP_REPLACE(LOWER(TRIM(regexp_replace(restaurante, '\\s+', ' '))), '\\s+', ' ') AS restaurant_name_std,
  plato_descripcion, tipo, coste, precio, ventas, mes
FROM {menu_source}
""")

spark.sql(f"""
CREATE OR REPLACE TABLE {silver}.menu_all_enriched AS
SELECT
  m.plato_id, m.restaurante, d.restaurant_id, d.restaurant_name_std,
  d.ciudad, d.trabajadores, d.presupuesto_mensual, d.kind_cuisine,
  m.plato_descripcion, m.tipo, m.coste, m.precio, m.ventas, m.mes
FROM _menu_all_std m
LEFT JOIN {silver}.dim_restaurants d
  ON m.restaurant_name_std = d.restaurant_name_std
""")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

## Gold · dim + fact + best_seller

In [0]:

spark.sql(f"""
CREATE OR REPLACE TABLE {gold}.dim_restaurant AS
SELECT
  restaurant_id, restaurante, restaurant_name_std, ciudad, direccion,
  trabajadores, presupuesto_mensual, kind_cuisine
FROM {silver}.dim_restaurants
""")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:

spark.sql(f"""
CREATE OR REPLACE TABLE {gold}.fact_menu_sales AS
WITH base AS (
  SELECT
    restaurant_id, restaurante, ciudad, kind_cuisine, tipo, mes,
    plato_id, plato_descripcion,
    CAST(ventas AS BIGINT) AS ventas,
    CAST(precio AS DOUBLE) AS precio,
    CAST(coste  AS DOUBLE) AS coste,
    trabajadores,
    CAST(presupuesto_mensual AS INT) AS presupuesto_mensual
  FROM {silver}.menu_all_enriched
)
SELECT
  restaurant_id, restaurante, ciudad, kind_cuisine, tipo, mes, plato_id, plato_descripcion,
  SUM(ventas) AS ventas_total,
  SUM(precio * ventas) AS ingresos,
  SUM(coste  * ventas) AS coste_total,
  (SUM(precio * ventas) - SUM(coste * ventas)) AS margen,
  CASE WHEN SUM(precio * ventas) <> 0
       THEN (SUM(precio * ventas) - SUM(coste * ventas)) / SUM(precio * ventas) END AS margen_pct,
  AVG(precio) AS precio_medio,
  AVG(coste)  AS coste_medio,
  CASE WHEN AVG(coste) <> 0 THEN (AVG(precio)/AVG(coste)) - 1 END AS markup,
  CASE WHEN SUM(ventas) <> 0 THEN SUM(precio * ventas)/SUM(ventas) END AS ticket_medio,
  MAX(trabajadores) AS trabajadores_ref,
  MAX(presupuesto_mensual) AS presupuesto_ref,
  CASE WHEN COALESCE(MAX(trabajadores),0) <> 0 THEN SUM(precio * ventas)/MAX(trabajadores) END AS ingresos_por_empleado,
  CASE WHEN COALESCE(MAX(trabajadores),0) <> 0 THEN (SUM(precio * ventas) - SUM(coste * ventas))/MAX(trabajadores) END AS margen_por_empleado,
  CASE WHEN COALESCE(MAX(presupuesto_mensual),0) <> 0 THEN SUM(precio * ventas)/MAX(presupuesto_mensual) END AS utilizacion_presupuesto,
  CASE WHEN COALESCE(MAX(presupuesto_mensual),0) <> 0 THEN (SUM(precio * ventas) - SUM(coste * ventas))/MAX(presupuesto_mensual) END AS margen_sobre_presupuesto
FROM base
GROUP BY restaurant_id, restaurante, ciudad, kind_cuisine, tipo, mes, plato_id, plato_descripcion
""")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:

spark.sql(f"""
CREATE OR REPLACE VIEW {silver}.vw_menu_all_enriched_min AS
SELECT
  restaurant_id, restaurant_name_std, ciudad, kind_cuisine, trabajadores, presupuesto_mensual,
  plato_id, plato_descripcion, tipo, coste, precio, ventas, mes
FROM {silver}.menu_all_enriched
""")